


/*--------------------------------------------------------------------------------CONFIRMATION OVERLAY---------------------------------------------------------------------------*/

#Start_Test_Overlay
{
  height: 100%;
  width: 100%;
  z-index: 3;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
  backdrop-filter: blur(6px);
}

#Start_test_Confirmation_div
{
    position: absolute;
    top:45%;
    left: 44%;
    width: 12%;
    height: 8%;
    text-align: center;
    background-color: azure;
    border-radius: 25px;
}

#Start_test_Confirmation_table
{
    position: absolute;
    text-align: center;
    top: 18%;
    left: 28%;
}

#Resume_Test_Overlay
{
  height: 100%;
  width: 100%;
  z-index: 3;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
  backdrop-filter: blur(6px);
}

#Resume_Test_Confirmation_table
{
    position: absolute;
    top:45%;
    left: 44%;
    width: 12%;
    height: 8%;
    text-align: center;
    background-color: azure;
    border-radius: 25px;
}

#Start_test_Confirmation_table
{
    position: absolute;
    text-align: center;
    top: 18%;
    left: 28%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#Question_Details_table td
{
    /* border: 2px solid black; */
    border-radius: 20px;
}
/*----------------------------------------------------Load Overlay--------------------------------------------------------*/

#loading_img  /*CSS for loading image */
{
    position: absolute;
    top: 43%;
    left: 43%;
}
 
#Load_overlay /*CSS for load overlay div */
{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

/*---------------------------------------------------Submit Overlay-----------------------------------------------------------------------------------------*/

#Overlay_for_submission
{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

#submission_confirmation_div
{
    position: absolute;
    top:45%;
    left: 44%;
    width: 12%;
    height: 8%;
    text-align: center;
    background-color: azure;
    border-radius: 25px;
}

#submission_confirmation_table
{
    position: absolute;
    text-align: center;
    top: 18%;
    left: 28%;
}

/*-----------------------------------------------------------------------------Right Question Pallet-----------------------------------------*/



.question_pallet_buttons
{
   width: 45px;
   height: 45px;
}

#Question_Pallet
{
    position: relative;
    width: 252px;
    top : 30%;
    left :5%;
    background-color: rgba(255, 255, 255, 0.565);
}

#right_bar
{
    border-radius: 10px;
    position: absolute;
    border-style: dotted dashed solid double;
    width: 340px;
    padding-top: 2%;
    top: 20%;
    left: 80%;
    z-index: 0;  
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    overflow: auto;
    background-color:#c2ffc27e
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

#Question_details
{
    position: absolute;
    top: 30%;
    left: 20%;
}

#Question_Details_table
{
    width: 700px;
    height: 400px;
    background-color: #c2ffc27e;
    border-radius: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/


.Answered_Btn /*Class applied to button which is selected*/
{
    background-color: rgba(169, 255, 169, 0.715);
}

#timer_div
{
    background-color: aliceblue;
    width: 300px;
    height: 30px;
    position: absolute;
    text-align: center;
    padding-top: 1%;
    top: 1.3%;
    left: 2%;
}

#Submit_Test_btn
{
    position: absolute;
    top: 2.5%;
    left: 85%;
    height: 30px;
    width: 200px;
}

