.Student_table th /*CSS for Student table heading */
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.582);
    border-radius: 30px;
    font-size:25px;
}

/* #user_type_id{
    position:absolute;
    top:10%;
    left:70%;
} */

/* ---------------------------------------For Delete Confirmation  -------------------------------*/

#Overlay  /* For Delete Confirmation overlay div */
{
  height: 100%;
  width: 100%;
  z-index: 3;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
  backdrop-filter: blur(6px);
}



#confirmation_div /* For Delete Confirmation div (that contains table ) */
{
    position: absolute;
    top:45%;
    left: 35%;
    width: 400px;
    height: 140px;
    text-align: center;
    background-color: azure;
    border-radius: 25px;
    font-size: 24px;
}

#confirmation_table /* For Delete Confirmation table that contains text and yes/no buttons */
{
    position: absolute;
    top: 20%;
    left: 24%;
}

/*---------------------------------------------------------------------------------------------------------*/

.Problem_Setter_table th /*CSS for Problem Setter Table Heading */
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 30px;
    font-size:25px;
}

.Student_table tr /*CSS for Student table Rows */
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.37);
    font-size:20px;
}

.Problem_Setter_table tr  /*CSS for Problem Setter Table Rows */
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.37);
    font-size:20px;
}

/*--------------------------------------------CSS for Loading Overlay-----------------------------------------*/
#loading_img  /*CSS for loading image */
{
    position: absolute;
    top: 43%;
    left: 43%;
}

#Load_overlay /*CSS for load overlay div */
{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

/*----------------------------------------------------------------------------------------------------------------*/

#table_divs  /*CSS for Div which contains both tables*/
{
    width: 1000px;
    position: absolute;
    text-align: center;
    right: 40%;
    top: 25%;
    /* border: dotted black 2px; */
}

#Admin_Banner_div
{
    z-index: 1;
    position: absolute;
    left: 47%;
    top: 8%;
}

#Current_edit_div /*CSS for Current edit table DIV container*/
{
    position: absolute;
    width: 450px;
    height: 300px;
    left: 75%;
    top: 15%;
    background-color: rgba(240, 248, 255, 0.3);
    border: dotted black 3px;
    border-radius: 15px;
}

#Current_Edit_table  /*CSS for Current edit table*/
{
    padding-top: 1px;
    width: 360px;
    font-size:18px;
    position: absolute;
    left: 5%;
    top: 10%;
}
#Update_btn{
    /* padding-bottom: 5px  ; */
    margin-bottom: 5px;
    margin-top:-10px;
}


#Current_Edit_table td /*CSS for Current edit table data cell*/
{
    /* border: solid black 1px;  */
    padding: 2%;
}

#Register_User_table td /*CSS for RegisteR User table data cell*/
{
    /* border: solid black 2px;   */

    padding: 20px;
}

#Register_User_table  /*CSS for RegisteR User table */
{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 76%;
    font-size:18px;
    border: dotted black 3px;
    border-radius: 30px;
}
* {
    margin: 0;
    padding: 0;

}

body {
    overflow: hidden;

}

#Nav_bar {
    padding: 20px 0;

    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    /* text-align: center; */
    box-shadow: 0 0 10px 0 rgba();
    color: azure;
    height: 40px;
    display: flex;
}

#heading {
    margin-left: 45%;
    position: absolute;
    width: 400px;
}

#logout_box_table {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.379);
    border: 1px solid;
    border-radius: 10px;
    width: 240px !important;
    height: 50px;
    font-size: 22px;
    right: 21px;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    margin-left: 5px;

}

#Logout_btn {
    border-radius: 25px;
    background-image: linear-gradient(92.83deg, #ff762663 0, #f939136a 100%);
}

#logged_in_as,
#Logout_btn {
    justify-self: center;
    align-self: center;
}

.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 3%;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-77 {
        padding: 19px 32px;
    }
}

.button-77:before,
.button-77:after {
    border-radius: 80px;
}

.button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
    color: #ccc;
}

.button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button-77:disabled {
    cursor: default;
    opacity: .24;
}

.in_txt{
    font-size: 22px;
}

#Register_btn{
    margin-top:-10px;

}

#input_user_id{
    position:absolute;
    margin-left: 15px;
}
#input_name{
    position: absolute;
    margin-left: 30px;
}