


#Question_Pallet_holder_div
{
    width: 782px;
    position: absolute;
    left: 57%;  
    top: 20%;
}


#Question_pallet_table td
{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

#Question_pallet_table th
{
    background-color: rgba(84, 238, 255, 0.3);
}

#Question_pallet_table
{
    position: relative;
    left: 32%;
    top: 17%;
    border: dotted black 5px; 
}
#loading_img
{
    width: 100px;
    position: absolute;
    left: 48%;
    top: 10%;
}

#Overlay
{
  height: 100%;
  width: 100%;
  z-index: 4;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
  backdrop-filter: blur(6px);
}

#Overlay_for_Question_Pallet
{
  height: 100%;
  width: 100%;
  z-index: 3;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
  backdrop-filter: blur(6px);
}
#confirmation_div
{
    position: absolute;
    top:45%;
    left: 44%;
    width: 12%;
    height: 8%;
    text-align: center;
    background-color: azure;
    border-radius: 25px;
}

#confirmation_table
{
    position: absolute;
    top: 20%;
    left: 8%;
}

#fetch_MCQs
{
    position: absolute;
    top: 10%;
    left: 45%;
    width: 250px;
    height: 50px;
}


/*----------------------------------------------------Load Overlay--------------------------------------------------------*/

#loading_img  /*CSS for loading image */
{
    position: absolute;
    top: 43%;
}
 
#Load_overlay /*CSS for load overlay div */
{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

/*--------------------------------------------------------------------Question Bank Table--------------------------------------------------*/

#Question_bank_Holder_div
{
    border-radius: 10px;
    position: absolute;
    border-style: dotted dashed solid double;
    width: 800px;
    height: 200px;
    left: 5%;
    top: 18%;
    z-index: 1;  
    display: flex;
    flex-direction: column;
    min-height: 77vh;
    overflow: auto;
    background-color:#e8e0d77e
}

#MCQ_Bank_table_Automata tr /*CSS for MCQ_Bank_table table Rows */
{
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.37);
}

#MCQ_Bank_table_Automata /* For */
{
    width: 240px;
    position: absolute;
    left: 2%;
    top: 2%;
    border: black;
}

#MCQ_Bank_table_OS tr /*CSS for MCQ_Bank_table table Rows */
{
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.37);
}

#MCQ_Bank_table_OS /* For */
{
    width: 240px;
    position: absolute;
    left: 33%;
    top: 2%;
    border: black;
}

#MCQ_Bank_table_Algorithm tr
{
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.37);
}

#MCQ_Bank_table_Algorithm
{
    width: 240px;
    position: absolute;
    left: 64%;
    top: 2%;
    border: black;
}

/*-----------------------------------------------Questions For review--------------------------------------------------------*/

#Questions_For_Review_Holder_Div
{
    border-radius: 10px;
    position: absolute;
    border-style: dotted dashed solid double;
    width: 800px;
    height: 200px;
    left: 50%;
    top: 18%;
    z-index: 1;  
    display: flex;
    flex-direction: column;
    min-height: 77vh;
    overflow: auto;
    background-color:#e8e0d77e;
}

#Questions_For_Review_table_Autometa tr /*CSS for Question For review table Rows */
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.37);
}


#Questions_For_Review_table_Autometa
{
    position: absolute;
    width: 240px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    left: 2%;
    top: 3%;
    background-color: rgba(240, 248, 255, 0.37);
}

#Questions_For_Review_table_OS tr
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.37);
}

#Questions_For_Review_table_OS 
{
    position: absolute;
    width: 240px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    left: 34%;
    top: 3%;
    background-color: rgba(240, 248, 255, 0.37);
}


#Questions_For_Review_table_Algorithm
{
    position: absolute;
    width: 240px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    left: 66%;
    top: 3%;
    background-color: rgba(240, 248, 255, 0.37);
}

#Questions_For_Review_table_Algorithm tr
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.37);
}